@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    overflow-x: hidden;
} */


::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(132, 228, 239);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 154, 156);
}
